body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  color: #3a3a3a;
}

.header {
	margin: 0px;
	padding: 15px;
	width: 100%;
	background: #eee;
}

.header h2 {
	margin: 0px;
	padding: 0px;
}

.header-links {
	color: #202020;
}

.header-links a {
	color: #202020;
	text-decoration: none;
}

.app-body {
	padding-left: 30px;
}

a {
  color: #00B7FF;
}
